{% extends "product/layouts/base.html" %}
{% load static %}

{% block content %}

<!-- breadcrumb -->
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'product/assets/img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">Blog Grid</h4>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'product:index' %}"><i class="far fa-home"></i> Home</a></li>
                <li class="active">Blog Grid</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- blog area -->
<div class="blog-area py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Our Blog</span>
                    <h2 class="site-title">Latest News & <span>Blog</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/01.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".50s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/02.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".75s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/03.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".25s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/01.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".50s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/02.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="blog-item wow fadeInUp" data-wow-delay=".75s">
                    <div class="blog-item-img">
                        <img src="{% static 'product/assets/img/blog/03.jpg' %}" alt="Thumb">
                    </div>
                    <div class="blog-item-info">
                        <div class="blog-item-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-user-circle"></i> By Alicia Davis</a></li>
                                <li><a href="#"><i class="far fa-calendar-alt"></i> January 29, 2024</a></li>
                            </ul>
                        </div>
                        <h4 class="blog-title">
                            <a href="#">There are many variations of passage available majority suffered.</a>
                        </h4>
                        <p>There are many variations available the majority have suffered alteration randomised words.</p>
                        <a class="theme-btn" href="#">Read More<i class="fas fa-arrow-right-long"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- pagination -->
        <div class="pagination-area mb-0">
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true"><i class="far fa-arrow-left"></i></span>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><span class="page-link">...</span></li>
                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true"><i class="far fa-arrow-right"></i></span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
            <!-- pagination end -->
        </div>
    </div>
    <!-- blog area end -->

    <!-- newsletter area -->
    <div class="newsletter-area pt-60 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="newsletter-content">
                        <h3>Get <span>20%</span> Off Discount Coupon</h3>
                        <p>By Subscribe Our Newsletter</p>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="email" class="form-control" placeholder="Your Valid Email Address">
                                <button class="theme-btn" type="submit">
                                    Subscribe <i class="far fa-paper-plane"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter-img-1">
            <img src="{% static 'product/assets/img/newsletter/01.png' %}" alt="">
        </div>
        <div class="newsletter-img-2">
            <img src="{% static 'product/assets/img/newsletter/02.png' %}" alt="">
        </div>
    </div>
    <!-- newsletter area end -->

{% endblock %}