{% extends "product/layouts/base.html" %}
{% load static %}

{% block content %}
<!-- category area -->
<div class="category-area pt-70 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="{% static 'product/assets/img/icon/category.svg' %}" alt="">Top Category</h2>
                    <a href="{% url 'product:category_list' %}">View More <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row g-2">
            {% for category in categories %}
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="{{ category.get_absolute_url }}">
                        <div class="category-info">
                            <div class="icon">
                                {% if category.icon %}
                                <img src="{{ category.icon.url }}" alt="">
                                {% else %}
                                <img src="{% static 'product/assets/img/icon/no_image.svg' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="content">
                                <h4>{{ category.name|truncatechars:20 }}</h4>
                                <p>{{ category.product_count }} Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- category area end-->
{% endblock %}