{% extends "product/layouts/base.html" %}
{% load static %}

{% block content %}

<!-- breadcrumb -->
<div class="site-breadcrumb">
    <div class="site-breadcrumb-bg" style="background: url({% static 'product/assets/img/breadcrumb/01.jpg' %})"></div>
    <div class="container">
        <div class="site-breadcrumb-wrap">
            <h4 class="breadcrumb-title">Category One</h4>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'product:index' %}"><i class="far fa-home"></i> Home</a></li>
                <li class="active">Category One</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- category area -->
<div class="category-area py-90">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="site-heading-inline">
                    <h2 class="site-title"><img src="{% static 'product/assets/img/icon/category.svg' %}" alt="">Our Category</h2>
                </div>
            </div>
        </div>
        <div class="row g-2">
            <!-- Category Items -->
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/dress.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Accessories</h4>
                                <p>30 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/laptop.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Electronics</h4>
                                <p>25 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/grocery.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Grocery & Market</h4>
                                <p>15 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/music.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Music & Audio</h4>
                                <p>05 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/furniture.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Furniture</h4>
                                <p>30 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/toy.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Toy & Video Games</h4>
                                <p>12 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/gifts.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Gifts</h4>
                                <p>08 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/mother.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Babies & Moms</h4>
                                <p>14 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/beauty.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Health & Beauty</h4>
                                <p>19 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/sports.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Sports & Outdoor</h4>
                                <p>24 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/garden.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Home & Garden</h4>
                                <p>09 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-2">
                <div class="category-item">
                    <a href="#">
                        <div class="category-info">
                            <div class="icon">
                                <img src="{% static 'product/assets/img/icon/automotive.svg' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Automotive</h4>
                                <p>16 Items</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center mt-5">
                    <a href="#" class="theme-btn"><span class="fas fa-arrow-rotate-left"></span> Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- category area end-->

<!-- newsletter area -->
<div class="newsletter-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="newsletter-content">
                    <h3>Get <span>20%</span> Off Discount Coupon</h3>
                    <p>By Subscribe Our Newsletter</p>
                    <div class="subscribe-form">
                        <form action="#">
                            <input type="email" class="form-control" placeholder="Your Valid Email Address">
                            <button class="theme-btn" type="submit">
                                Subscribe <i class="far fa-paper-plane"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="newsletter-img-1">
        <img src="{% static 'product/assets/img/newsletter/01.png' %}" alt="">
    </div>
    <div class="newsletter-img-2">
        <img src="{% static 'product/assets/img/newsletter/02.png' %}" alt="">
    </div>
</div>
<!-- newsletter area end -->

{% endblock %}